body {
    background-color: antiquewhite;
    padding: 8px;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title_back {
    text-align: center;
    width: 60%;
    margin-left: 0px;
    margin-right: 20%;
}

.description {
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-width: 4px;
    border-radius: 2px;
    border-color: rgb(221, 214, 255);
    background-color: bisque;
    margin-bottom: 10px
}

.options {
    margin: 20px;
    margin-left: auto; margin-right: auto;
    width: fit-content;
}

.options button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
}

.back_button {
    margin-left: 7%; margin-right: 7%;
    min-width: 6%;
}

.back_button button {
    min-width: 100%;
    min-height: 100%;
    border-radius: 32px;
}

.monty_hall {
    width: 80%;
    margin-left: auto; margin-right: auto;
    display: flex;
}

.door {
    width: 33%;
}

.door img {
    width: 100%;
}